.header {
  display: flex;

  .header__image {
    width: 100px;
    height: 60px;
  }
  .header__input-block {
    margin: 15px 35px 0 35px;
  }
  p {
    font-weight: bold;
  }
}

.header__input-block {
  input {
    height: 30px;
    margin-right: 20px;
    background-color: gainsboro;
    border: 0px;
  }
}

.header__input-block {
  button {
    height: 30px;
    font-weight: bold;
    background-color: gainsboro;
    border: 0px;
  }
}
